.main 
  .main__group
    .main__upper
      .main__group-list 
        = @group.name
      .main__group-member 
        member:
        - @group.users.each do |user|
          = user.name
    .main__edit
      = link_to edit_group_path(@group), class: "main__push" do
        Edit 
  .main__chat
    = render @messages
  .main__message
    = form_with model: [@group, @message], class: "main__form", local: true do |f|
      .main__place
        = f.text_field :content, class: 'main__send', placeholder: 'type a message'
        = f.label :image, class: 'main__image' do
          = icon('far', 'image')
          = f.file_field :image
      = f.submit 'Send', class: 'main__submit'