.side
  .side__user
    .side__box
      %h3.side__name 
        = current_user.name
      .side__icon
        = link_to new_group_path, class: "side__button button-interval" do
          = icon("far", "edit")
        = link_to edit_user_path(current_user), class: "side__button" do
          = icon("fas", "cog")
  .side__bar
    - current_user.groups.each do |group|
      .side__frame
        = link_to group_messages_path(group) do
          .side__group 
            = group.name
          .side__message 
            = group.show_last_message